$page-bg-color: hsl(27, 66%, 92%);

$card-color-primary: hsl(33, 100%, 98%);
$card-color-secondary: hsl(10, 79%, 65%);

$chart-bar: hsl(10, 79%, 65%);
$chart-bar-active: hsl(186, 34%, 60%);

$text-color: hsl(25, 47%, 15%);
$text-color-light: hsl(28, 10%, 53%);

$font-size-normal: 18px;
$font-weight-normal: 400;
$font-weight-bold: 700;