@mixin animateChartBar {
	animation: animateChartBar 1s linear;
}

@mixin rotateRight {
	animation: rotateRight 1.5s linear infinite;
}

@mixin rotateLeft {
	animation: rotateLeft 1.5s linear infinite;
}

@mixin firstDot {
	animation: dotAnimation 1s linear infinite;
}

@mixin secondDot {
	animation: dotAnimation 1s linear 0.2s infinite;
}

@mixin thirdDot {
	animation: dotAnimation 1s linear 0.4s infinite;
}

@mixin fadeIn {
	animation: fadeIn 1s ease-in-out;
}

@keyframes animateChartBar {
	0% {
		transform-origin: bottom;
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
}

@keyframes rotateRight {
	50% {
		transform: translateX(75%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes rotateLeft {
	50% {
		transform: translateX(-75%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes dotAnimation {
	100% {
		opacity: 0;
	}

	0% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
