.card {
	margin: 0 auto;
	max-width: 450px;
	width: 100%;
}

.card__header {
	display: flex;
	justify-content: space-between;
	background-color: $card-color-secondary;
	color: $card-color-primary;
	border-radius: 10px;
	padding: 27px;
	margin-bottom: 20px;
}

.card__balance-text {
	font-size: 14px;
}

.card__balance--month .card__balance {
	color: black;
}

.card__subtitle {
	margin-bottom: 50px;
}

.card__body {
	padding-bottom: 25px;
	border-bottom: 2px solid $page-bg-color;
}

.card__main {
	background-color: $card-color-primary;
	border-radius: 10px;
	padding: 27px;
}

.card__footer {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
}

.card__stats {
	text-align: end;

	span {
		display: block;
		font-weight: $font-weight-bold;
	}
}

.chart__container {
	display: flex;
	justify-content: space-between;
}

.chart__cell {
	width: calc(100% / 7);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.chart__cell-wrapper {
	margin: 0 7px;
}

.chart__amount {
	background-color: $text-color;
	color: $card-color-primary;
	font-size: 14px;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 5px;
	visibility: hidden;
}

.chart__bar {
	background-color: $chart-bar;
	border-radius: 3px;
	margin-bottom: 5px;
}

.chart__cell:nth-child(3) {
	.chart__bar {
		background-color: $chart-bar-alt;
	}
}

.chart__cell:hover {
	.chart__bar {
		opacity: 0.5;
	}

	.chart__amount {
		visibility: visible;
	}
}

.chart__label {
	text-align: center;
	font-size: 14px;
	color: $text-color-light;
}

.footer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
